In [70]:
import pandas as pd
from google.cloud import storage
import os
from ydata_profiling import ProfileReport
from unidecode import unidecode

In [71]:
BUCKET_NAME = 'busca-apartamentos-trusted'
FILE = '2024-02-19 - apartamentos - cilar.csv'
TEMP_FILE = 'tmp/local.csv'

storage_client = storage.Client()
bucket = storage_client.get_bucket(BUCKET_NAME)

files = [i.name for i in bucket.list_blobs()]

for file in files:
    blop = bucket.blob(blob_name= file).download_as_string()
    with open(f'tmp/{file}', 'wb') as f:
        f.write(blop)

In [72]:
df_full = pd.DataFrame()
for _, _, files_names in os.walk('tmp'):
    for file_name in files_names:
        df_aux = pd.read_csv('tmp/' + file_name)
        df_full = pd.concat([df_full, df_aux], axis = 0, ignore_index=True)

In [73]:
profile = ProfileReport(df_full, title="Profiling Report")
profile.to_file('EDA_full.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset:  85%|████████▍ | 28/33 [00:03<00:00, 14.96it/s, Calculate auto correlation]              /home/arthur/anaconda3/envs/busca-apartamentos-env/lib/python3.11/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Não'')
  warnings.warn(
Summarize dataset:  93%|█████████▎| 67/72 [00:16<00:02,  1.81it/s, Missing diagram heatmap]                 /home/arthur/anaconda3/envs/busca-apartamentos-env/lib/python3.11/site-packages/seaborn/matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
/home/arthur/anaconda3/envs/busca-apartamentos-env/lib/python3.11/site-packages/ydata_profiling/model/missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(
Summarize dataset: 100%|██████████| 72/72 [00:17<00:00,  4.16it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:27<00:00, 27.28s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.49s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 19.40it/s]

In [74]:
df_full[['aluguel','condominio','seguro_incendio','iptu']] = df_full[['aluguel','condominio','seguro_incendio','iptu']].fillna(0)

In [75]:
df_full['valor_total'] = df_full['aluguel'] + df_full['condominio'] + df_full['seguro_incendio'] + df_full['iptu']

In [76]:
unidecode(df_full.loc[0,'bairro'].lower())

'agua verde'

In [77]:
df_full['bairro'] = df_full['bairro'].apply(lambda x:x  if isinstance(x,float) else unidecode(x.lower().strip()))

In [78]:
features = [
 'link',
 'bairro',
 'cidade',
 'aluguel',
 'condominio',
 'seguro_incendio',
 'iptu',
 'area',
 'quartos',
 'suites',
 'banheiros',
 'vagas_garagem',
 'mobiliado',
 'piscina',
 'academia',
 'sacada',
 'churrasqueira',
 'salao_de_festas',
 'valor_total']

In [79]:
df = df_full[features]

In [ ]:
df[['bairro','valor_total']].groupby('bairro').mean().sort_values('valor_total', ascending= False).head(30)

In [82]:
df[['bairro','valor_total']].groupby('bairro').count().sort_values('valor_total', ascending= False).head(30)

                   valor_total
bairro
centro                     159
agua verde                  55
portao                      45
bigorrilho                  43
batel                       36
cristo rei                  34
vila izabel                 23
alto da gloria              22
reboucas                    21
bacacheri                   21
santa candida               20
cabral                      19
campo comprido              18
ecoville                    17
boa vista                   16
cidade industrial           15
centro civico               15
juveve                      14
pinheirinho                 14
novo mundo                  13
sao francisco               13
bairro alto                 11
alto da xv                  11
tingui                      11
xaxim                       11
-                           10
sitio cercado                9
ahu                          9
cajuru                       9
uberaba                      9

In [80]:
df[['bairro','valor_total']].groupby('bairro').mean('valor_total').sort_values('valor_total', ascending= False).head(30)

                     valor_total
bairro
ecoville             6704.526471
guabirotuba          5674.750000
mossungue            5337.315000
merces               4818.641250
seminario            4622.110000
juveve               4464.920714
cabral               4130.963158
batel                4091.658889
agua verde           3949.135091
alto da gloria       3944.040000
ahu                  3809.823333
bigorrilho           3633.115814
santo inacio         3453.880000
vila izabel          3290.379130
cristo rei           3180.804412
centro civico        3122.266000
hugo lange           2960.940000
sao francisco        2857.208462
cascatinha           2739.620000
reboucas             2721.480476
alto da rua xv       2719.880000
sao braz             2638.070000
boa vista            2617.463750
alto da xv           2609.897273
bacacheri            2537.754762
portao               2536.777333
campina do siqueira  2393.913333
centro               2352.146226
capao raso           2285.633333
vista alegre         2282.110000